.container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.container button {
    border: none;
    outline: none;
    border-radius: 0.5rem;
    margin: 1rem;
    background-color: green;
    color: white;
    font-family: Ysabeau Sc, sans-serif;
}

.container button:hover {
    opacity: .9;
    cursor: pointer;
}