.header {
    background: rgba(255, 255, 255, 0.603);
    padding: 0;
}

.header a {
    color: green;
}

.header a:hover{
    background: green;
    color: white;
    cursor: pointer;
}

.container {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: bold;
    padding: 1rem;
}

.header ul {
    display: flex;
    list-style-type: none;
    margin: 0;
}

.header ul a{
    padding: .5rem;
    display: flex;
}

.menu_container {
    position: relative;
}

.menu {
    position: absolute;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.939);
    border: 1px solid green;
    display: none;
    width: 300%;
}

.menu_container:hover .menu {
    display: block;
}

.menu a {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.cart_count{
    background-color: green;
    color: white;
    margin: 0.25rem;
    padding: 0 0.35rem 0.15rem 0.35rem;
    border-radius: 10rem;
    font-size: 0.7rem;
}




