.table {
    border: 1px solid green;
    border-radius: 0.7rem;
    background-color: whitesmoke;
    width: 24rem;
    padding: 0.5rem;
    margin: .5rem 0;
}

.table img {
    height: 5rem;
    width: 5rem;
    object-fit: contain;
}

.table h3 {
    margin: 0;
}
